.test {
   border: 1px solid rgba(0, 0, 0, 0.8);
  display: block;
  float: left;
  /* background-color: #dedede; */
  height: 100%;
  color: black;
 /* align-items: center;*/
  justify-content: center;
}

.cien {
  width: 800px;
  height: 400px;
 /* background: black; --> el q corresponda
   border-right: 2px solid black;
   border-top: 2px solid black; */
  box-sizing: border-box;

}
